
.products{
    margin-top: 13vh;
    margin-bottom: 30px;
}
.results{
    color: white;
    font-size: 12;
    font-weight: 700;
    margin-bottom: 30px;
}
.prdCardContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 11px;
}
.section{
    display: flex;
    justify-content: space-between;
}
.container{
    display: flex;
}
.dropdownContainer{
    margin: 0px 5px;
}
.optionContainer{
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: rgb(57,57,57);
    font-weight: 600;
    font-size: 16;
    outline: none;
}
.options{
    padding: 5px 5px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: rgb(57,57,57);
    font-weight: 600;
    font-size: 16;
    outline: none;
}