.container{
    display: flex;
    flex-direction: column;
    width: 130px;
    height: 160px;
    padding: 3px;
    /* justify-content: center; */
}
.imgContainer{
width: 130px;
height: 150px;

}
.img{
    width: 95%;
    height: 98%;
    text-align: center;
}
.heading{
    width: 130px;
    padding: 5px 5px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    text-align: center;
}