.dropdownitem{
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: rgb(14, 14, 14); 
    position: absolute;
    top: 11vh;
    right: 5%;
    color: white;
    overflow-y: auto;
    padding-left: 15px;
}
.container{
    display: flex;
    gap: 3%;
    padding: 10px 5px;
    margin: 10px 0px;
    background-color: rgb(14, 14, 14); 

}
.imgContainer{
    width: 20%;
    background-color: rgb(14, 14, 14); 

}
.headingContainer{
    display: flex;
    flex-direction: column;
   width: 75%; 
   background-color: rgb(14, 14, 14); 

}
.icon{
    background-color: rgb(14, 14, 14); 
}

.link{
    text-decoration: none;
    color: white;
    background-color: rgb(14, 14, 14); 

}
.heading{
    background-color: rgb(14, 14, 14); 

}
.text{
    font-size: 12px;
    background-color: rgb(14, 14, 14); 

}