.nav{
    width: 100%;
    max-height: 80px;
    height: 78px;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 100;

}
.navbar{
    display: flex;
    width: 100%;
    max-height: 80px;
    height: 78px;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    z-index: 100;
}
.left{
    display: flex;
    gap: 1%;
    width: 70%;
    align-items: center;
    background-color: black;
}
.imgContainer{
    width: 20%;
    background-color: black;
}
.logo{
    width: 130px;
    height: 78px;
    background-color: black;
}
.menuContainer{
width: 15%;
background-color: black;
}
.menu{
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: black;
}
.searchContainer{
    width: 55%;
    background-color: black;
}
.searchbar{
    display: flex;
    align-items: center;
    position: relative;
}
.search{
    padding: 11px 22px;
    width: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: white;
}
.search_icon{
    position: absolute;
    right: 15px;
    color: black;
    background-color: white;
}
.right{
width: 19%;
display: flex;
gap: 10%;
align-items: center;
background-color: black;
}
.locContainer{
    display: flex;
    gap: 2%;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
}
.userContainer{
    /* background-color: black; */
}
.user,.cartContainer{
    cursor: pointer;
    background-color: black;
}
.user:hover{
    color: rgb(4, 236, 159);
}
.text,.menuIcon,.place,.editIcon,.cartIcon,.userContainer,.edit,.locIcon,.location{
    background-color: black;
}
.location,.edit{
    font-size: 12px;
}